---
version: '3.9'

services:
  app:
    image: wayofdev/node:19-alpine-1.5
    container_name: ${APP_NAME}_app
    restart: on-failure
    networks:
      - default
      - shared
    volumes:
      - ./:/app:rw
    working_dir: /app
    command: '/bin/pnpm run dev'
    environment:
      - TERM=xterm-256color`
    tty: true
    labels:
      - traefik.enable=true
      - traefik.http.routers.${APP_NAME}_web.rule=Host(`${APP_NAME}.${PROJECT_SERVICES_NAMESPACE}.docker`)
      - traefik.http.routers.${APP_NAME}_web.entrypoints=websecure
      - traefik.http.routers.${APP_NAME}_web.tls=true
      - traefik.http.routers.${APP_NAME}_web.service=${APP_NAME}_web
      - traefik.http.services.${APP_NAME}_web.loadbalancer.server.port=3000

      - traefik.http.routers.${APP_NAME}_docs.rule=Host(`${APP_NAME}-docs.${PROJECT_SERVICES_NAMESPACE}.docker`)
      - traefik.http.routers.${APP_NAME}_docs.entrypoints=websecure
      - traefik.http.routers.${APP_NAME}_docs.tls=true
      - traefik.http.routers.${APP_NAME}_docs.service=${APP_NAME}_docs
      - traefik.http.services.${APP_NAME}_docs.loadbalancer.server.port=3001

networks:
  shared:
    external: true
    name: ${SHARED_SERVICES_NETWORK}
