---

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '22 6 * * 0'

name: 🐞 CodeQL

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language:
          - javascript

    steps:
      - name: 📦 Check out the codebase
        uses: actions/checkout@v3

      - name: 🤖 Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}

      - name: 🛠️ Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: 🚨 Perform CodeQL analysis
        uses: github/codeql-action/analyze@v2

...
